mixin dv(name)
  - var cls = "{ 'has-error': "+'warn.'+name
  - cls    += ", 'has-success': "+'ok.'+name
  - cls    += ", 'bg-danger': "+'err.'+name+' }'
  div.form-group.has-feedback(ng-class!=cls)
//- END dv
mixin input(type, name, model)
  input.form-control(
    type=type, name=name, ng-model="#{model}.#{name}",
    ng-change="isValid('#{name}')", ng-blur="validate('#{name}')"
  )
//- END ngInput

- var form = 'loginForm'
- var model = 'user'

section.panel
  header.panel-heading Login
    span.tools.pull-right
      a.fa(href='javascript:;', ng-click='login.tg=!login.tg',
      ng-class="{ 'fa-chevron-down':!login.tg, 'fa-chevron-up':login.tg }")
      a.fa.fa-cog(href='javascript:;')
      a.fa.fa-times(href='javascript:;')
  .panel-body.toggle(ng-if='!login.tg', style='margin:auto;')

    form.form(ng-controller='SigninCtrl', name=form, ng-submit='login()', style='max-width:300px; margin:auto;')
      .alert.alert-danger(ng-show='onAlert') {{alertMessage}}

      //- var name   = 'email'
      //- var model = 'user.'+name
      //- var change = "isValid('"+name+"')"
      //- var blur   = "validate('"+name+"')"
      .form-group.has-feedback(ng-class='emailCls')
        label.control-label(for='') Email.
        +input('email', 'email', model)
        //-input.form-control(type='email', name=name, ng-model=model, ng-change=change, ng-blur=blur)
        span.form-control-feedback(ng-class='emailIcon')
        p.help-block(ng-if='emailErr') {{err.email}}

      .form-group.has-feedback(ng-class='passwordCls')
        label.control-label(for='') Password
        +input('password', 'password', model)
        span.form-control-feedback(ng-class='passwordIcon')
        p.help-block {{err.password}}

      .form-group
        button.btn.btn-primary(type='submit', ng-disabled='invalid') Log In
      hr
      .form-group
        gl-auth(ng='googleLogged', apiKey='AIzaSyD6z5RkfXSuBKGwm0djIHoRWm-OLsS7IYI')
        p
          input(ng-model='googleLogged')
