mixin input(type, name, model)
  input.form-control(
  type=type, name=name, ng-model="#{model}.#{name}",
  ng-change="isValid('#{name}')", ng-blur="validate('#{name}')"
  )
//- END ngInput

- var form = 'mypost'
- var model = 'post'

section.panel
  header.panel-heading
    span(translate) Posts
    span.tools.pull-right
      a.fa(href='javascript:;', ng-click='posts.tg=!dashboard.tg',
      ng-class="{ 'fa-chevron-down':!posts.tg, 'fa-chevron-up':posts.tg }")
      a.fa.fa-cog(href='javascript:;')
      a.fa.fa-times(href='javascript:;')
  .panel-body.toggle(ng-if='!posts.tg', style='margin:auto;')

    table.table.table-striped
      thead
        th(translate) Author
        th(translate) Title
        th.hidden-xs(translate) Content
        th.hidden-xs(translate) Creation
        th(translate) Last Update
        th(translate) Action
      tbody
        tr(ng-hide='posts.length')
          td.text-center(colspan='6', translate) no post
        tr(ng-repeat='post in posts')
          td {{post.author}}
          td {{post.title}}
          td.hidden-xs {{post.content}}
          td.hidden-xs {{post.creation}}
          td {{post.lastUpdate}}
          td
            button.btn.btn-xs(ng-click='activePost(post)', translate) Edit
            button.btn.btn-xs.btn-danger(ng-click='delete(post)', translate) Delete

    h3(ng-if='!editing')
      span(translate) New Post
    h3(ng-if='editing')
      span(translate) Edit Post


    form(name=form, ng-submit='save(post)', novalidate='')
      .alert.alert-danger(ng-show='onAlert') {{alertMessage}}

      .form-group.has-feedback(ng-class='authorCls')
        label.control-label(for='', translate) Author
        +input('author', 'author', model)
        span.form-control-feedback(ng-class='authorIcon')
        p.help-block {{err.author}}

      .form-group.has-feedback(ng-class='titleCls')
        label.control-label(for='', translate) Title
        +input('text', 'title', model)
        span.form-control-feedback(ng-class='titleIcon')
        p.help-block {{err.title}}

      .form-group.has-feedback(ng-class='contentCls')
        label.control-label(for='', translate) Content
        +input('text', 'content', model)
        span.form-control-feedback(ng-class='contentIcon')
        p.help-block {{err.content}}

      button.btn.btn-primary(type='submit', translate) Submit

    br
    div(ng-if='editing')
      button.btn.btn-success(ng-click='newPost()', translate) New Post